[Desktop Entry]
Name=Birdiary Script Start
Comment=Start Birdiary via terminal
Exec=/usr/bin/lxterm -e 'bash ~/station/startup.sh & bash ~/station/internetTest.sh'
Type=Application
Terminal=true
Icon=~/station/files/birdiary.png
Categories=Utility;
