[Desktop Entry]
Encoding=UTF-8
Name=Terminal autostart
Comment=Start birdiary on boot in terminal on desktop
Exec=/usr/bin/lxterm -e 'bash /home/pi/station/startup.sh'
